@model LeaveTrackerWeb.Models.Project
<div>
    <br>
    <form method="post">
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-3">Project Name</label>
            <div class="col-md-9 col-sm-9 col-xs-9">
                @Html.TextAreaFor(x => x.ProjectName, new { @id = "txtProjectName", @class = "form-control" })
                @Html.HiddenFor(x=>x.ProjectId)
            </div>
        </div>
        <div class="form-group row">
            <div>
                <br />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-9 col-md-offset-3">
                <input name="action" type="button" id="btnClear" value="Clear" class="btn btn-primary pull-right" data-dismiss="modal" aria-label="Close"/>
                @if (Model.ProjectId > 0)
                {
                    <input name="action" type="submit" id="btnUpdateProject" value="Update Project" class="btn btn-success pull-right" />
                }
                else
                {
                    <input name="action" type="submit" id="btnAddProject" value="Add Project" class="btn btn-success pull-right" />
                }
            </div>
        </div>
    </form>
</div>
